Source: ros-melodic-unique-id
Section: misc
Priority: extra
Maintainer: Jack O'Quin <jack.oquin@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin, ros-melodic-roscpp, ros-melodic-rospy, ros-melodic-rosunit, ros-melodic-uuid-msgs
Homepage: http://ros.org/wiki/unique_id
Standards-Version: 3.9.2

Package: ros-melodic-unique-id
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-roscpp, ros-melodic-rospy, ros-melodic-uuid-msgs
Description: ROS Python and C++ interfaces for universally unique identifiers.
