Source: ros-lunar-unique-id
Section: misc
Priority: extra
Maintainer: Jack O'Quin <jack.oquin@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-lunar-catkin, ros-lunar-roscpp, ros-lunar-rospy, ros-lunar-rosunit, ros-lunar-uuid-msgs
Homepage: http://ros.org/wiki/unique_id
Standards-Version: 3.9.2

Package: ros-lunar-unique-id
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-lunar-roscpp, ros-lunar-rospy, ros-lunar-uuid-msgs
Description: ROS Python and C++ interfaces for universally unique identifiers.
